
#student_list{
	border-color: #E6EAE9;
}
#student_list1{
	position:absolute;
                  top:700px;
                  left:600px;
                  font-size: 19px;
                  font-family: "隶书";
                  color: #000000;
}
 
	.stu_attribute{
					font-size: 18px;
					font-weight: 20px;
				font-family: "微软雅黑";
				color:black;
			}
			#stu_head{
				font-size: 25px;
				font-weight: 30px;
				font-family: "隶书";
				color: #000000;
				background-color: #E6EAE9;
			}


.a{
	
	line-height: 50px;
	margin-bottom: 0px;
	margin-top: 1%;
	padding-left: 25%;
	float: centre;
	font-size: 30px;
	width: 1400px;height: 900px;
    background-color: #c1e2b3;
}

.c{
	color: #CCCCCC;
	padding-left: 0%;
    margin-top: 0px;
    margin-left: 0%;
	float: left;
	font-size: 25px;
	width: 100%;height: 100px;
	background-color: #003366;
}

.e{
	padding: 0 px;
	
	margin-top: 0px;
	margin-right: 0.2%;
    float: left;
	font-size: 20px;
	width: 13%;height: 800px;
	background-color: #99CCCC;
}
.f{
    padding: 0 px;
	
	margin-top: 0px;
	margin-left: 5%;
    float: right;
	font-size: 20px;
	width: 18%;height: 800px;
	background-color: #99CCCC;
}


.button
		{
			width: 100%;
			height: 90px;
			font-size: 25px;;
			background: #99CCCC;
			border-radius: 0.1em;
			border: 0;
			color: #fff;
			text-align: center;
			opacity:0.9;
			text-decoration: none;
		}
		.button:hover{
			background: #003366;
		}
.roundbutton
		{
			width: 90%;
			height: 90px;
			font-size: 25px;;
			background: #99CCCC;
			border-radius: 0.1em;
			border: 0;
			color: #fff;
			text-align: center;
			text-decoration: none;
		}
		